/*
==> Flexbox properties <==

-> Father elements properties: <-
    display: flex;
    flex-direction;
    justify-content;
    align-items;
    flex-wrap;

-> Children elements properties: <-
    order;
    flex-grow;
    align-self;
*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-align: center;
}

.flex-direction {
    display: flex;
    flex-direction: row-reverse;
    border: 5px solid black;
    margin-bottom: 5px;

    color: white;
}

.flex-direction-1 {
    background-color: blue;
}

.flex-direction-2 {
    background-color: purple;
}

.flex-direction-3 {
    background-color: red;
}

.justify-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 5px solid black;
    margin-bottom: 5px;
    color: white;
}

.justify-content-1 {
    background-color: blue;
}

.justify-content-2 {
    background-color: purple;
}

.justify-content-3 {
    background-color: red;
}

.align-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    margin-bottom: 5px;
    color: white;
}

.align-items-1 {
    background-color: blue;
}

.align-items-2 {
    background-color: purple;
}

.align-items-3 {
    background-color: red;
}

.flex-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 5px solid black;
    margin-bottom: 5px;
    width: 80%;
    color: white;
}

.flex-wrap-item {
    background-color: #333;
    gap: 3px;
}

.order {
    margin-top: 5px;

    display: flex;
    flex-direction: row;
    border: 5px solid black;
    margin-bottom: 5px;
    color: white;
}

.order-1 {
    order: 1;
    background-color: blue;
}

.order-2 {
    background-color: purple;
}

.order-3 {
    background-color: red;
}

.flex-grow {
    display: flex;
    flex-direction: row;
    border: 5px solid black;
    color: white;
    margin-bottom: 5px;
}

.flex-grow-1 {
    flex-grow: 2;
    background-color: blue;
}

.flex-grow-2 {
    flex-grow: 1;
    background-color: purple;
}

.flex-grow-3 {
    flex-grow: 1;
    background-color: red;
}

.align-self {
    display: flex;
    flex-direction: row;
    border: 5px solid black;
    margin-bottom: 5px;
    height: 100px;
    color: white;
}

.align-self-1 {
    background-color: blue;
}

.align-self-2 {
    align-self: flex-end;
    background-color: purple;
}

.align-self-3 {
    background-color: red;
}